@import "styles/variaveis";
@import "styles/breakpoints";
@import "styles/colors";


.bgNav {
    @media (max-width: $mobile) {
        width: 100%;
        background-color: $primaria;
        padding: 5%;
      }
      @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
      }
      @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
      }
}

.bgPrincipal {
    @media (max-width: $mobile) {
        padding: 10px;
        background-color: $secundaria;
        color: $primaria;
    }
}

.titulo {
    @media (max-width: $mobile) {
        padding: 5% 0%;
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 2px;
        text-align: center;
    }
}

.titulo__h1 {
    @media (max-width: $mobile) {
        font-size: 1rem;
        font-weight: 700;
        font-style: normal;
    }
}

.titulo__p {
    @media (max-width: $mobile) {
        font-size: 0.7rem;
    }
}