@import "styles/variaveis";

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

  @keyframes mudarCor {
    0% {
        background-color: $quartenaria; 
    }
    100% {
        background-color: $primaria; 
    }
}