@import "styles/variaveis";
@import "styles/breakpoints";
@import "styles/colors";
@import "styles/animation";


.principal {
    animation: fadeIn 2s ease-in-out;

    background-color: #FFFFFF;
}

.conteudoMain {
    animation: fadeIn 3s ease-in-out; /* Nome da animação, duração, modo de interpolação */

    @media (max-width: $mobile) {

        padding: 5%;
        background-color: $secundaria;
    }
}

.conteudoMain__h4 {
    @media (max-width: $mobile) {
        text-align: center;
        color: $primaria;
        font-weight: 700;

        font-size: 2rem;
        
    }
}

.main__servicos {
    @media (max-width: $mobile) {
        display: flex;
        padding: 2%;
        margin: 4%;

        border: 2px solid $primaria;
        border-radius: 5px;
    }
}

.main__servicos__img {
    @media (max-width: $mobile) {
        width: 50%;
    }
}

.servicos {
    @media (max-width: $mobile) {
        padding: 3%;
        display: flex;
        flex-direction: column;
        color: $primaria;
    }
}

.servicos__h5 {
    @media (max-width: $mobile) {
        font-size: 1.3rem;
    }
}

.servicos__p {
    @media (max-width: $mobile) {
        font-size: 0.8rem;
    }
}