@import "styles/variaveis";
@import "styles/breakpoints";
@import "styles/colors";
@import "styles/animation";


.whatsapp {
    animation: fadeIn 2s ease-in-out;

    @media (max-width: $mobile) {
        display: inline-block;
        background-color: #25d366; /* Cor de fundo do botão do WhatsApp */
        color: #fff; /* Cor do texto */
        text-decoration: none; /* Remove o sublinhado do texto */
        font-family: Arial, sans-serif; /* Fonte do texto */
        font-size: 16px; /* Tamanho do texto */
        padding: 10px 20px; /* Espaçamento interno */
        border-radius: 5px; /* Borda arredondada */
        border: none; /* Remove a borda */
        cursor: pointer; /* Cursor ao passar por cima */
        transition: background-color 0.3s; /* Transição suave de cor de fundo */
    }

}

.whatsapp:hover {
    background-color: #128C7E; /* Cor de fundo do botão ao passar o mouse */
}  